{% extends 'base_temp.html' %}
{% load static %}

{% block title %}CV - Rycardo Simoes Alves{% endblock %}

{% block content %}
<div class="cv-container">
    <header class="header-container">
         <div class="about-box">
            <h1>Rycardo Simoes Alves</h1>
            <p><span>Ambitious</span> <span class="line">|</span> <span>Efficient</span> <span class="line">|</span> <span>Proactive</span></p>
            <p>
                Over the years, I've developed a strong work ethic and a deep sense of responsibility, applying these to every project I take on.
                I'm driven, detail-oriented, and committed to delivering high-quality results. My experience has sharpened my ability to adapt quickly,
                learn new skills, and contribute effectively. I take pride in my work and strive to exceed expectations.
            </p>
        </div>

        <div class="contact-box">
            <img src="{% static 'static/images/profile_pic.png' %}" alt="Profile Picture">
            <p style="text-align: center;"> <span class="line">---</span> <i class="bi bi-geo-alt" style="color: #cedc00;"></i> Cape Town <span class="line">---</span></p>
        </div>
    </header>
    
    <section class="experience">
        <h2>Work Experience</h2>

        <div class="job">
            <h3>
                <span class="company-name">Sorrento Studio</span> 
                <span class="line">|</span> 
                <span class="position">Operations Manager</span> 
                <span class="job-date">Oct 2024 - Present</span>
            </h3>
            <ul>
                <li>Staff Management</li>
                <li>Warehouse management, repairs, organizing, and maintenance</li>
                <li>Vehicle service and maintenance</li>
                <li>Coordinate with the Business Analyst, Event Coordinators, Florists, Maintenance team, warehouse staff, drivers, suppliers, and clients</li>
                <li>Implement, improve, and maintain new processes</li>
                <li>Stock Management, counts, and audits by introduction of RFID’s</li>
                <li>Optimize storage and layout solutions</li>
                <li>Event set-up and breakdowns</li>
                <li>Arrange staff transport outside of business hours</li>
                <li>Deliveries and Collections Management</li>
                <li>HR – staff timekeeping and overtime, PPE use, and uniform adherence, health and safety compliance</li>
                <li>Planning of event logistics and staff requirements</li>
            </ul>
        </div>

        <div class="job">
            <h3><span class="company-name">GVI</span> <span class="line">|</span> <span class="position">Group Support Coordinator</span> <span class="job-date">Feb 2023 - Aug 2024</span></h3>
            <ul>
                <li>Pre-Departure Support and processing of documentation</li>
                <li>Updating and maintaining the CRM system (Salesforce)</li>
                <li>Setting up and managing payment schedules</li>
                <li>Processing EFT, Stripe, and PayFast payments</li>
                <li>Managing payment reminders, collections, and overdue follow-ups</li>
                <li>Handling incoming and outgoing group support calls</li>
                <li>Converting leads into opportunities</li>
                <li>Expectation management and delivering webinar presentations</li>
                <li>Communicating with in-country teams worldwide</li>
                <li>Providing emergency phone support</li>
                <li>Creating and sharing detailed reports</li>
                <li>Assisting in administrative tasks and other duties as required</li>
            </ul>
        </div>

        <div class="job">
            <h3><span class="company-name">Jukwaa Events</span> <span class="line">|</span> <span class="position">Operations & Participant Manager</span> <span class="job-date">Jan 2021 - Aug 2022</span></h3>
            <ul>
                <li>Operations and Logistics management for events</li>
                <li>Infrastructure and Supplier Procurement</li>
                <li>Event Build-Up and Breakdown coordination</li>
                <li>Route Planning for events, including Sasol Solar Challenge</li>
                <li>Participant Support: Registration, Scoring, and Handling Queries</li>
                <li>Conceptualizing and testing the "Last Man Standing" App</li>
            </ul>
        </div>

        <div class="job other-roles">
            <h3><span class="company-name">Other Roles</span></h3>
            <ul>
                <li>
                    <span class="role-container">
                        <span class="company-name">Jukwaa Events</span> 
                        <span class="line">|</span> 
                        <span class="position">Project Coordinator</span> 
                        <span class="job-date">2019-2020</span>
                    </span>
                </li>
                <li>
                    <span class="role-container">
                        <span class="company-name">Jukwaa Events</span> 
                        <span class="line">|</span> 
                        <span class="position">Event Assistant</span> 
                        <span class="job-date">2018</span>
                    </span>
                </li>
                <li>
                    <span class="role-container">
                        <span class="company-name">CrossFit Uhuru</span> 
                        <span class="line">|</span> 
                        <span class="position">CrossFit Manager</span> 
                        <span class="job-date">2019-2021</span>
                    </span>
                </li>
                <li>
                    <span class="role-container">
                        <span class="company-name">Yachts</span> 
                        <span class="line">|</span> 
                        <span class="position">Deck/Stew</span> 
                        <span class="job-date">2017-2018</span>
                    </span>
                </li>
            </ul>
        </div>

        <div class="job columns">
            <div class="column">
                <h2>Interests</h2>
                <ul>
                    <li>Health & Fitness</li>
                    <li>Formula 1 & Motorsport</li>
                    <li>IT, Programming & App Development</li>
                    <li>Problem Solving & Mind Puzzles</li>
                    <li>Travel & Languages</li>
                </ul>
        
                <h2>Licenses & Certification</h2>
                <ul>
                    <li>Software Engineering (HyperionDev) - In Progress</li>
                    <li>EFR - Primary Care (CPR) & Secondary Care</li>
                    <li>- Event Architecture Bootcamp</li>
                    <li>Python for Non-Programmers</li>
                    <li>Getting Started as a Full-Stack Web Developer</li>
                    <li>Python Essential Training</li>
                    <li>Programming Foundations: Fundamentals</li>
                    <li>HTML Essential Training</li>
                    <li>Python for Non-Programmers</li>
                    <li>Getting Started as a Full-Stack Web Developer</li>
                </ul>
            </div>

            <div class="column">
                <h2>Computer Literacy</h2>
                <ul>
                    <li>Microsoft Office Suite</li>
                    <li>Google Workspace</li>
                    <li>Sage One & Sage Pay</li>
                    <li>NetCash</li>
                    <li>Google Earth Pro</li>
                    <li>Slack</li>
                    <li>Salesforce</li>
                    <li>Trello</li>
                    <li>Stripe & Payfast</li>
                    <li>Booqable</li>
                </ul>

                <h2>Other Details</h2>
                <ul>
                    <li>Matric Certificate 2016</li>
                    <li>Valid Drivers License (own transport)</li>
                    <li>Good Health</li>
                    <li>Bilingual</li>
                    <li>Engaged</li>
                </ul>
            </div>
        </div>

    <section class="references">
        <div class="job" style="text-align: center;">
            <h2>References</h2>
            <ul>
                <li>
                    <span class="role-container">
                        <span class="company-name">Kayleigh Sutherland</span> 
                        <span class="line">|</span> 
                        <span class="position">Groups Project Manager - GVI</span> 
                        <span class="line">|</span>
                        <span class="job-date">+27 64 908 2127</span>
                    </span>
                </li>
                <li>
                    <span class="role-container">
                        <span class="company-name">Anshia Oldewage</span> 
                        <span class="line">|</span> 
                        <span class="position">Executive Assistant - Jukwaa Events</span> 
                        <span class="line">|</span>
                        <span class="job-date">+27 78 019 0624</span>
                    </span>
                </li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}
